/* google font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}

/* shared style */
.btn-primary {
    background-color: whitesmoke;
    font-size: 14px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
}


/* header style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

h3 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
}

.banner-container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    text-align: center;
}

.banner-content {
    padding: 26px 200px 45px 200px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.banner-des {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 26px;
}

.btn-sec {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    /* line-height: 23px; */
    padding: 21px 30px 21px 30px;
}

.why-web-container {
    margin-top: 150px;
    margin-left: 290px;
    margin-right: 290px;
}

.why-content {
    text-align: center;
}

.why-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

/* .why-img-container{
    display: flex;
} */

.img-container {
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.i-do-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 19px;
    font-weight: 700;
}

.btn-third {
    margin-top: 20px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    background-color: whitesmoke;
}

.my-content {
    text-align: center;
    margin: 0 290px;
    margin-top: 110px;
}

.video-container {
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1140px;
    max-height: 615px;
    margin-top: 45px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    text-align: center;
}

.target-container {
    margin: 111px 50px;
}

.target-content {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;

}

.skill {
    padding: 40px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.skill-title {
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 800;
}

.first {
    width: 800px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.sec {
    width: 800px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.third {
    width: 800px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}



.link {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

.my-next-title {
    margin-top: 40px;
    margin-left: 370px;
    margin-right: 370px;
    text-align: center;
}

.react-container {
    margin-left: 150px;
    margin-right: 150px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.next-img {
    padding-top: 40px;
    /* padding-left: 20px; */
    padding-right: 30px;
}

.support {

    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2);
    width: 78%;
    /* Set container width */
    height: 70%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/handshake.jpg);
}

.support-content {
    padding: 50px 48px 60px 48px;
    text-align: center;
}

.form-input {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    /* Box design */
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-top: 10px;
    width: 500px;
    height: 57px;
    padding: 19px 20px 19px 20px;
}

.btn-4th {
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    /* box design */
    width: 120px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
}

.sp-title {
    color: rgb(255, 255, 255);
}

.sp-des {
    color: rgb(255, 255, 255);
}

.footer-container {

    margin: 110px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
